.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /*모바일에서 사용*/
    -ms-overflow-style: none; /*익스플로어 감추기*/
    scrollbar-width: none; /*파이어폭스 감추기*/
    &::-webkit-scrollbar { /*크롬 감추기*/
        display: none; 
    }
}